<div class="login-form-div">
  <h2>Log in</h2>
  <form class="login-form">
    <div class="row">
      <div class="input-field col s6">
        <img class="login-pics" src="lock.png">
        <input id="icon_prefix" type="text"  value='{{user.username}}' class="validate login-input" >
        <label for="icon_prefix">Username:</label>
      </div>
      <div class="input-field col s6">
        <img class="login-pics" src="key.png">
        {{input value=attempt id="attempt" type="password" class="validate login-input"}}
        <label for="icon_telephone" >Password:</label>
      </div>
    </div>
    <button class="btn" {{action 'checkPassword'}}>Login</button>
  </form>
</div>
