{{#each users as |user|}}
  <div id="assassin-item">
    <li>{{#link-to 'password' user.id user=model}}
    {{user.username}}{{/link-to}}</li>
    <span id="assassin-password">Password: {{user.password}}</span>
  </div>
{{/each}}
