<h2 class="allAssassins-header">Assassins</h2>
<div class="allAssassins">
  <div class="col-sm-3 assassins">
    <ul class="assassin-list">
      {{user-tile users=model.users}}
    </ul>
  </div>
</div>
