body {
  background-color: black;
}

h1 {
  text-align:center;
  color:#ffffff;
}

span#red {
  color:red;
}

p {
  font-family: "courier new", "lucida console", monospace;
  text-align: center;
  color:#ffffff;
}

img {
  float:right;
}

.sidebar {
  background-color: #ff0000;
  width: 20%;
  float: left;
  text-align: center;
}

a:link {
  text-decoration: none;
  color: #ffffff;
  font-family: "courier new", "lucida console", monospace;
}

a:visited {
    text-decoration: none;
    color: #800000;
    font-family: "courier new", "lucida console", monospace;
}

a:hover {
    text-decoration: none;
    color: #ffffff;
    font-family: "courier new", "lucida console", monospace;
}

a:active {
    text-decoration: none;
    font-family: "courier new", "lucida console", monospace;
}
