body {
  background-color: black;
  font-family: "courier new", "lucida console", monospace;
}

p {
  color:white;
}

h1 {
  text-align: center;
  color: white;
}

img.center {
  display: block;
  margin: 0 auto;
}
