<h1><center>About</center></h1>
<p class="about-text">This is a fun team building exercise amongst epicodus classmates--everyone is assigned a target, your goal is to finish them with your given weapon. Get creative! Be a sneaky murderous ninja for a day and end your friends' run to be the best assassin of Epicodus*.</p>
<br>
<p class="about-text">To play, sign in according to your github ID. It's not complicated and we're on the honor system, your ID is your password. Javascript user auth is hard so that's the way we did it. You will have a page where you can log your kills and you can see your very own secret kill code. Don't give this out unless someone kills you with their weapon of choice. If you kill someone, you will get a new target who will have their own unique code. Once you kill them the cycle continues.</p>
<br>
<p class="about-text">But remember: THERE CAN ONLY BE ONE</p>

<img id="highlander" src="highlander.png">


<p class="about-text">*Please don't actually stab anyone with a desk crank. Or give Diane peanuts. Or poison someone with hand sanitizer. Be creatively nonlethal, we won't bail you out of jail or justify you in a court of law.</p>
