<div class="container">
  <div class="row">
    <div class="col col--3-of-12">
      <div class="row">
        <div class="col col--1-of-3">
          <img src="ninja.png" class="ninja"  />
        </div>
        <div class="col col--1-of-3 link">
          {{#link-to 'about'}}<span>About</span>{{/link-to}}
        </div>
        <div class="col col--1-of-3">
          <img src="ninja2.png" class="ninja" />
        </div>
      </div>
    </div>
    <div class="col col--6-of-12 center">
      <p id="header2">{{#link-to 'index'}}EPISSASSIN{{/link-to}}</p>
      <p><img class="blood" src="blood.png"></p>
    </div>
    <div class="col col--3-of-12 right">
      <div class="row">
        <div class="col col--1-of-3">
          <img src="ninja3.png" class="ninja"  />
        </div>
        <div class="col col--1-of-3 link2">
          {{#link-to 'contact'}}<span>Contact</span>{{/link-to}}
        </div>
        <div class="col col--1-of-3">
          <img src="ninja4.png" class="ninja" />
        </div>
      </div>
    </div>
  </div>
</div>



<p class="microsoft marquee">
  {{#each model.targets as |target|}}
    <img class="star" src="star.png">
    {{target.attacker.username}} is after {{target.target}} with {{target.attacker.weapon}}
  {{/each}}
</p>

{{outlet}}
