<div class="row">
  <div class="avatarDiv col s3">
    <div class="thehead">
      <img class="theFaces" src="https://avatars1.githubusercontent.com/u/15026420?v=3&s=460"/>
    </div>
    <div class="thebody">
      <img class="theNinja" src="ninja.png"/>
    </div>
  </div>

  <div class="avatarDiv col s3">
    <div class="thehead">
      <img class="theFaces" src="https://avatars0.githubusercontent.com/u/6743582?v=3&s=460"/>
    </div>
    <div class="thebody">
      <img class="theNinja" src="ninja.png"/>
    </div>
  </div>

  <div class="avatarDiv col s3">
    <div class="thehead">
      <img class="theFaces" src="https://avatars0.githubusercontent.com/u/10257491?v=3&s=460"/>
    </div>
    <div class="thebody">
      <img class="theNinja" src="ninja.png"/>
    </div>
  </div>

  <div class="avatarDiv col s3">
    <div class="thehead">
      <img class="theFaces" src="https://avatars2.githubusercontent.com/u/11791430?v=3&s=460"/>
    </div>
    <div class="thebody">
      <img class="theNinja" src="ninja.png"/>
    </div>
  </div>
</div>




<div class="creepyDude">
  <img src="hood.jpg" />
</div>
