<div class="allAssassins">
  <div class="instructions">
    <h1>Welcome to EPISSASSIN! Find your user name below. Log in using your USERNAME as the password (case sensitive).</h1>
    <h1>Each user has a target, a weapon, and a kill-code. Your target is the person you are assigned to assassinate. Your weapon is the tool you must use for the job. Collect your target's kill-code to log the assassination. Once you are killed, you must forfeit your kill-code to your killer.</h1>
    <h1>Happy killing!</h1>
  </div>
  <h2 class="allAssassins-header">Assassins</h2>
  <div class="assassins">
    <ul class="assassin-list">
      {{user-tile users=model.users}}
    </ul>
  </div>
</div>
